html * {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #000000;
}

/* ESTILOS PARA EL NAV */
nav {
    background-color: black;
    color: white;
    text-align: center;
}

nav h1 {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 50px;
    font-weight:500;
}

/* ESTILOS PARA EL HEADER */

/* primera alternativa */
header img {
    width: 100%;
} 

/* 
header {
    background-image: url("../img/bg-header.jpg");
    background-size: cover;
    height: 50vh;
    background-position: center;
} */


/* ESTILOS PARA LA SECCION DESCRIPCION */
.desc-section__parrafo {
    font-weight: 300;
    color: #FFFFFF;
    width: 40%;
    font-size: 1rem;
    padding-right: 5%;
}

.desc-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.desc-section__parrafo--principal {
    margin-bottom: 25px;
}

.desc-section__contenedor-imagen{
    width: 25%;
}
.desc-section__contenedor-imagen img{
    width: 100%;
}

/* ESTILOS PARA LA SECCION ICONS */
.icons {
    color: white;
    background-color: #1E1A13;
}

.icons h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-top: 30px;
}
.icons i {
    font-size: 40px;
}

.icons div{
    text-align: center;
}

.icons h3 {
    font-size: 24px;
    font-weight: 300;
}
.icons__contenedor-iconos {
    display:flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

.images {
    text-align: center;
    padding: 30px 0;
}

.images img{
    width: 316px;
    height: 202px;
    margin: 8px;
}
.oscuro {
    background: #000f08;
    color: #ffffff;
  }
  
